

body {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Monument Extended reg";
  src: url(./fonts/MonumentExtended-Regular.otf);

  font-weight: 100;
}
@font-face {
  font-family: "Monument Extended blod";

  src: url(./fonts/MonumentExtended-Ultrabold.otf);
  font-weight: 600;
}
.main {
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: auto;
  background-position: center center;
  align-items: center;
  display: flex;
}

.logo-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}
.logo-div img {
  width: auto;
  height: 100px;
}

.top-img {
  position: absolute;
  left: 24%;
  right: auto;
  top: 0;
}
.sub-main {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  z-index: 10;
}
.coming h1 {
  font-family: "Monument Extended blod";
  font-style: normal;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;

  color: #ffffff;
}

.coming p {
  font-family: "Monument Extended reg";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  max-width: 694px;
  color: #ffffff;
  margin-bottom: 3rem;
}

.btn-gradient {
  background: linear-gradient(158.2deg, #acffb9 14.29%, #11ff37 97.14%);
  backdrop-filter: blur(5.5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 104px;
  border: 1px solid transparent;

  padding: 19px 33px;
  font-family: "Monument Extended reg";

  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  /* identical to box height */
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}
.colon {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Monument Extended reg";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.slide-bottom-main {
  position: absolute;
  -webkit-animation: slide-bottom-main 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom-main 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom-main {
  0% {
    -webkit-transform: translateY(-90vh);
    transform: translateY(-90vh);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes slide-bottom-main {
  0% {
    -webkit-transform: translateY(-90vh);
    transform: translateY(-90vh);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.slide-bottom1 {
  position: absolute;
  -webkit-animation: slide-bottom1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom1 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom1 {
  0% {
    -webkit-transform: translateY(-30vh);
    transform: translateY(-30vh);
  }
  100% {
    -webkit-transform: translateY(115%);
    transform: translateY(115%);
  }
}
@keyframes slide-bottom1 {
  0% {
    -webkit-transform: translateY(-30vh);
    transform: translateY(-30vh);
  }
  100% {
    -webkit-transform: translateY(115%);
    transform: translateY(115%);
  }
}

.slide-bottom2 {
  position: absolute;
  -webkit-animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(80%);
    transform: translateY(80%);
  }
}

.slide-bottom3 {
  position: absolute;
  -webkit-animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}



.slide-fwd-left {
  -webkit-animation: slide-fwd-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
   1s both;
  animation: slide-fwd-left .4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s both;
}
@-webkit-keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(250px) scale(0.5);
    transform: translateZ(0) translateX(250px) scale(0.5);
  }
  100% {
    -webkit-transform: translateZ(400px) translateX(0px) scale(1);
    transform: translateZ(400px) translateX(0px) scale(1);
  }
}
@keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(250px) scale(0.5);
    transform: translateZ(0) translateX(250px) scale(0.5);
  }
  100% {
    -webkit-transform: translateZ(400px) translateX(0px) scale(1);
    transform: translateZ(400px) translateX(0px) scale(1);
  }
}

.slide-fwd-right {
  animation-delay: 1s;
	-webkit-animation: slide-fwd-right .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
	        animation: slide-fwd-right .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
}
@-webkit-keyframes slide-fwd-right {
  0% {
    -webkit-transform: translateZ(0) translateX(-250px);
            transform: translateZ(0) translateX(-250px);

            -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) scale(1);
            transform: translateZ(160px) translateX(0px) scale(1);
  }
}
@keyframes slide-fwd-right {
  0% {
    -webkit-transform: translateZ(0) translateX(-250px) scale(0.5);
            transform: translateZ(0) translateX(-250px) scale(0.5);
  }
  100% {
    -webkit-transform: translateZ(160px) translateX(0px) scale(1);
            transform: translateZ(160px) translateX(0px) scale(1);
  }
}


.scale-up-center {
	-webkit-animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
	        animation: scale-up-center .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.6s both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide-top {
  
	-webkit-animation: slide-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
	        animation: slide-top .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.6s both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width:768px) {

  @-webkit-keyframes slide-bottom-main {
    0% {
      -webkit-transform: translateY(-90vh);
      transform: translateY(-90vh);
    }
    100% {
      -webkit-transform: translateY(170%);
      transform: translateY(170%);
    }
  }
  @keyframes slide-bottom-main {
    0% {
      -webkit-transform: translateY(-90vh);
      transform: translateY(-90vh);
    }
    100% {
      -webkit-transform: translateY(170%);
      transform: translateY(170%);
    }
  }
  
  .top-img{
    display: none;

  }
  .coming h1 {
  
    font-size: 35px;
    line-height: 40px;
    /* identical to box height */

  }
  
  .coming p {
    
    font-size: 13px;
    line-height: 20px;

  }
  
  .btn-gradient {
    padding: 12px 9px;
    font-size: 11px;
    line-height: 18px;
  }
  .social-media {
    background: rgba(0, 0, 0, 0.23);
    -webkit-backdrop-filter: blur(5.5px);
    backdrop-filter: blur(5.5px);
    padding: 4px 14px;
  }

  .social-media a {
    background: rgba(0, 0, 0, 0.21);
    box-shadow: inset -9px 1px 7px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 16px;
    border-radius: 67%;
    text-align: center;
    padding: 8px 10px;
  }

  @-webkit-keyframes slide-bottom1 {
    0% {
      -webkit-transform: translateY(-15vh);
      transform: translateY(-15vh);
    }
    100% {
      -webkit-transform: translateY(170%);
      transform: translateY(170%);
    }
  }
  @keyframes slide-bottom1 {
    0% {
      -webkit-transform: translateY(-15vh);
      transform: translateY(-15vh);
    }
    100% {
      -webkit-transform: translateY(170%);
      transform: translateY(170%);
    }
  }}
.social-media{
  background: rgba(0, 0, 0, 0.23);
backdrop-filter: blur(5.5px);
/* Note: backdrop-filter has minimal browser support */
padding: 13px 35px;
border-radius: 104px;
display: flex;
align-items: center;
gap: 20px;
margin-top: 50px;
}

.social-media a{
  background: rgba(0, 0, 0, 0.21);
box-shadow: inset -9px 1px 7px rgba(0, 0, 0, 0.25);
color: #fff;
font-size: 25px;
    border-radius: 67%;
    text-align: center;
    padding: 8px 14px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;