* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Monument Extended reg';
  src: url(./fonts/MonumentExtended-Regular.otf);

  font-weight: 100;
}
@font-face {
  font-family: 'Monument Extended blod';

  src: url(./fonts/MonumentExtended-Ultrabold.otf);
  font-weight: 600;
}
.main {
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: auto;
  background-position: center center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.logo-div {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}
.logo-div img{
  width: auto;
  height: 100px;

}

.top-img {
  position: absolute;
  left: 24%;
  right: auto;
  top: 0;
}
.sub-main {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  z-index: 10;
}
.coming h1 {
  font-family: "Monument Extended blod";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 96px;
  /* identical to box height */
margin-bottom: 1.5rem;
  text-align: center;

  color: #ffffff;
}

.coming p {
  font-family: "Monument Extended reg";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
max-width: 694px;
  color: #ffffff;
  margin-bottom: 3rem;
}

.btn-gradient{
  background: linear-gradient(158.2deg, #ACFFB9 14.29%, #11FF37 97.14%);
backdrop-filter: blur(5.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 104px;
border: 1px solid transparent;

padding: 19px 33px;
    font-family: 'Monument Extended reg';


font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 24px;
/* identical to box height */
text-transform: uppercase;
text-align: center;

color: #000000;
}
.colon{
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Monument Extended reg';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.social-media{
  background: rgba(0, 0, 0, 0.23);
backdrop-filter: blur(5.5px);
/* Note: backdrop-filter has minimal browser support */
padding: 13px 35px;
border-radius: 104px;
display: flex;
align-items: center;
gap: 20px;
margin-top: 40px;
}

.social-media a{
  background: rgba(0, 0, 0, 0.21);
box-shadow: inset -9px 1px 7px rgba(0, 0, 0, 0.25);
color: #fff;
font-size: 29px;
    border-radius: 67%;
    text-align: center;
    padding: 8px 14px;
}