*{
  margin: 0;
  padding:0;
}

.main{
  background-image: url(../src/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
   margin: auto;
   background-position: center center;
  
}

.logo-div{
  display: flex;
  justify-content: center;
  margin: auto;
}

.top-img{
  position: absolute;
 left: auto;
 right: auto;
}